<!--
/**
 *    Copyright 2023 Dellius Alexander
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS,
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */
-->
<!DOCTYPE html>
<html lang="en">

    <!--    Head Section   -->
    <%- include('../partials/head.html'); %>

    <body>

        <!-- Mobile nav toggle button -->
        <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

        <!--   Header Section   -->
        <%- include('../partials/header.html'); %>

        <!-- Hero Section -->
        <%- include('../partials/hero.html'); %>

        <!--  Mail Content Section  -->
        <main id="main">

            <!-- About Section -->
            <%- include('../partials/about.html'); %>

            <!-- Facts Section -->
            <%- include('../partials/facts.html'); %>

            <!-- Skills Section -->
            <%- include('../partials/skills.html'); %>

            <!-- Resume Section -->
            <%- include('../partials/resume.html'); %>

            <!-- Contact Section -->
            <%- include('../partials/contact.html'); %>

        </main>
        <!-- End main -->

        <!--    Footer Section    -->
        <%- include('../partials/footer.html'); %>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!--    Scripts Files   -->
        <%- include('../partials/scripts.html'); %>

    </body>

</html>